@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

a {
  color: #000000;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style-type: none;
}

.flex-components {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}

.window-container {
  margin-right: 10%;
}

.nav-container {
  margin: 15px 40px 0 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  flex-wrap: wrap;
  font-size: 1.15rem;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  color: #363948;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.nav-sign-in {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.nav-search-text {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
  margin-left: 7px;
  width: 300px;
  background-color: #ffffff;
  border-radius: 10px;
  padding-left: 5px;
  color: #919dab;

  font-weight: 400;
}

.search-svg {
  margin: 4px 10px 0 7px;
}
.svg-container {
  padding-top: px;
}

/* info component */
.info-container {
  margin-left: 10%;
  font-size: 50px;
  width: 50%;
}

.blue-text-large {
  color: #5b64ec;
}

#move-down {
  margin-top: 20px;
}

.info-text {
  margin-top: 40px;
  font-size: 1.4rem;
  color: #80889e;
}

.btn-container {
  margin-top: 50px;
}

.btn {
  padding: 20px 30px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
}

.start {
  background-color: #5b64ec;
  color: #ffffff;
  border: solid 1px #5b64ec;
}
.start:hover {
  background-color: #ffffff;
  color: #5b64ec;
  border: solid 1px #000000;
}

.try {
  background-color: #ffffff;
  border: solid 1px #000000;
  color: #000000;
  margin-left: 30px;
}
.try:hover {
  background-color: #5b64ec;
  color: #ffffff;
  border: solid 1px #5b64ec;
}

.window-container {
  width: 600px;
  height: 600px;
  background-color: #efefef;
  border-radius: 20px;
  margin-top: 6%;
  margin-bottom: 5%;
  margin-right: 15%;
  position: relative;
}

.league-container {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 20px;
  background-color: #ffffff;
  left: 70px;
  z-index: 1;
  top: 40px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.score-container {
  position: absolute;
  color: #ffffff;
  width: 300px;
  height: 300px;
  border-radius: 20px;
  background-color: #5b64ec;
  right: 70px;
  bottom: 70px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.scores-window-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scores-window-list > li {
  padding: 20px 0;
}

#img {
  background-size: contain;
}

.leagues-container {
  margin-top: 100px;
  margin-bottom: 50px;
  margin-left: 300px;
  border-radius: 20px;
  background-color: #ffffff;
  height: auto;
  width: 300px;
  display: flex;
  gap: 30px;
  justify-content: baseline;
  padding: 20px 0 0 20px;
  font-weight: 400;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.played-each,
.team-each,
.gd-each,
.points-each {
  margin: 20px 0;
}

.gd-each,
.played-each {
  font-weight: 700;
}

.points-each {
  color: #5b64ec;
  font-weight: 700;
}

#team-title,
#gd-title,
#played-title {
  color: #919dab;
  font-weight: 700;
  margin-top: 15px;
}

#points-title {
  color: #5b64ec;
  font-weight: 700;
  margin-top: 15px;
}

.inline-name {
  padding-left: 10px;
}
.inline-pos {
  font-weight: 700;
}

#liverpool,
#mancity {
  width: 50px;
  height: 50px;
}

#mancity {
  margin-left: 4px;
}

.score-window {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.league-name-display {
  font-size: 1.25rem;
  align-self: baseline;
  margin-left: 20px;
}

.scores-display {
  display: flex;
  flex-direction: row;
  justify-content: center;

  gap: 30px;
}

.team-1-display,
.team-2-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.team-image {
  width: 50px;
  height: 50px;
}

.current-score-display > h2 {
  letter-spacing: 2px;
  color: #ffffff;
  font-weight: 800;
  margin-top: 10px;
}

.team-name-display {
  font-size: 15px;
  font-weight: 400;
}

.top-section {
  height: 99vh;
}

.use-container {
  height: 500px;
  background-color: #5b64ec;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.use-with-text {
  text-align: center;
  margin-top: 40px;
  font-weight: 400;
}

.use-with-icons {
  width: 700px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pricing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}
.prices-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin-top: 100px;
  margin-bottom: 150px;
}

.price-title-container {
  text-align: center;
}

.price-title-container > p {
  color: #919dab;
  font-size: 1.5rem;
}

.price-title {
  color: #000000;
  font-size: 5rem;
  font-weight: 700;
  margin-top: 100px;
}

.personal {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: baseline;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 30px;
  width: 300px;
  height: 400px;
}

.hoverable:hover {
  cursor: pointer;
  opacity: 0.8;
}

.personal > h4 {
  color: #5b64ec;
  font-weight: 700;
  font-size: 1.8rem;
}
.personal > .tag {
  color: #919dab;
  font-weight: 400;
}
.personal > h1 {
  margin-top: 30px;
  font-size: 4rem;
}
.time-frame {
  color: #919dab;
}
.personal > form > button,
.plan-btn {
  padding: 10px 20px;
  margin-top: 40px;
  border-radius: 30px;
  font-size: 1.25rem;
  background-color: #5b64ec;
  border: none;
  width: 100%;
  align-self: center;
  color: #ffffff;
  font-weight: 700;
}
.personal > .included {
  color: #363948;
  font-weight: 400;
  margin-top: 40px;
  text-align: left;
  font-size: 17px;
}
.personal > .features {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.features > p {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.why-use {
  height: 500px;
  background-color: #5b64ec;
  width: 100%;
}

.for-container {
  height: 500px;
  background-color: #5b64ec;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  gap: 40px;
}

.for-container > p {
  font-size: 1.68rem;
  font-weight: 400;
}

.success-container,
.failure-container {
  width: 100vw;
  height: 100vh;
  background-color: #5b64ec;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  text-align: center;
  color: #ffffff;
}

.payment-success,
.payment-fail {
  font-size: 3rem;
  font-weight: 700;
}

.payment-info,
.decline-info {
  font-size: 20px;
  line-height: 25px;
}

.back-home {
  background-color: #ffffff;
  color: #5b64ec;
  padding: 10px 40px;
  border-radius: 30px;
  font-size: 1.25rem;
}
.back-home:hover {
  cursor: pointer;
  opacity: 0.85;
}

.success-two-container,
.dashboard-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.success-two-main,
.dashboard {
  width: 60vw;
  height: 80vh;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}

.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}

.success-top-confirm {
  height: 10%;
  border-bottom: 4px #efefef solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 1.8rem;
  color: #5b64ec;
}
.success-main {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 3px;
  background-color: #efefef;
}
.success-main-left {
  flex: 1;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.success-main-right {
  flex: 1;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

.order-confirmed {
  font-weight: 700;
  font-size: 2rem;
}

.order-token-info {
  color: #919dab;
  font-size: 1.5rem;
}

.go-home {
  width: 70%;
  border-radius: 10px;
  background-color: #5b64ec;
  color: #ffffff;
  text-align: center;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 170px;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.go-home:hover {
  cursor: pointer;
  opacity: 0.9;
}

.view-invoice {
  font-weight: 700;
  font-size: 1.2rem;
  color: #5b64ec;
}

.success-top-right {
  height: 50%;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  font-weight: 700;
  gap: 20px;
  font-size: 1.2rem;
}

.success-bottom-right {
  width: 100%;
  height: 50%;
  border-top: #efefef 4px solid;
  display: flex;
  flex-direction: column;
}

.delivery-info {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-weight: 700;
  color: #919dab;
}

.time-accessible {
  padding-top: 2px;
}

.product-title {
  padding-top: 20px;
  color: #363948;
}

.product-info {
  color: #919dab;
}

.includes-list {
  color: #80889e;
}

.includes-one {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.price-info-top {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 4px solid #efefef;
}

.flex-row {
  flex: 1;
}

.bottom-right-row1,
.bottom-right-row2 {
  border-bottom: 4px solid #efefef;
}

.quantity,
.price-per {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 1.2rem;
  color: #919dab;
}

.quantity {
  border-right: 4px solid #efefef;
}

.bottom-right-row1,
.bottom-right-row2,
.bottom-right-row3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  font-size: 1.2rem;
  color: #919dab;
  padding: 0 100px;
}

.bottom-right-row3 {
  color: #2e2e2e;
  font-size: 1.6rem;
}

.tables-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000000;
  height: 1000px;
}

.tables-header {
  font-size: 2.5rem;
  font-weight: 700;
}

.single-table {
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 15px;
  width: 300px;
}

.all-tables-container {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.login-page {
  width: 100vw;
  height: 100vh;
  background: rgb(0, 57, 103);
  background: linear-gradient(
    90deg,
    rgba(0, 57, 103, 0.9220063025210083) 36%,
    rgba(130, 176, 237, 1) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form-container {
  height: 90vh;
  width: 30vw;
  border-radius: 10px;
  background-color: #ffffff;
  gap: 30px;
}

.login-form-container > form {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 50px;
}

.login-form-container > form > input {
  width: 60%;
  height: 50px;
  background-color: #ffffff;
  border: 2px solid #d0d8e1;
  border-radius: 5px;
  padding: 10px;
  margin-top: 50px;
  font-weight: 400;
  font-size: 1.25rem;
  opacity: 0.6;
}
.login-form-container > form > input:focus {
  border: 2px solid #d0d8e1;
}

.login-main-text {
  font-weight: 700;
  font-size: 2rem;
  margin-top: 30px;
}

.sign-in-text {
  font-weight: 400;
  color: #919dab;
  font-size: 1.25rem;
  margin-top: 10px;
}

#sign-in-btn,
#register-btn {
  margin-top: 20px;
  background-color: #28bf4c;
  color: #ffffff;
  font-size: 1.5rem;
  border: none;
  border-radius: 10px;
  padding: 20px 40px;
  width: 180px;
  margin-top: 50px;
}

#register-btn {
  margin-top: 80px;
}

.register-link {
  color: #919dab;
  margin-top: 10px;
}

.google-connect {
  margin-top: 50px;
  background-color: #5674d5;
  color: #ffffff;
  border: none;
  width: 70%;
  padding: 20px 40px;
  border-radius: 10px;
  font-size: 1.25rem;
}

.pay-btn:hover {
  cursor: pointer;
  opacity: 0.9;
}

.popout-container {
  width: 200px;
  line-height: 60px;
  position: absolute;
  top: 80px;
  right: 0;
  color: #80889e;
  font-size: 18px;
  font-weight: 700;
}

.popout {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding-left: 15px;
  border-radius: 20px 0 0 20px;
}

.account-list > li {
  border-bottom: 1px solid #efefef;
}
.account-list > form {
  border-bottom: 1px solid #efefef;
}
#account-button {
  background: none;
  border: none;
  color: #80889e;
  font-size: 18px;
  font-weight: 700;
}
#account-button:hover {
  cursor: pointer;
}
